@use "tools.scss";


body {
    font-family: Inter;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: var(--color-black-pearl-50);
    padding: var(--container-padding); 

    @include tools.container-width;
}


main {
    display: flex;
    flex-direction: column;

    @include tools.container-width;
}


