:root {
    --color-white: #FFF;
    --color-black-pearl-50: #E4EBEE;
    --color-black-pearl-400: #7799ac;
    --color-black-pearl-700: #3c5562;
    --color-black-pearl-900: #1b262c;

    --color-aquarius-900: #0d2e32;
    --color-aquarius-200: #;
    --color-aquarius-100: #C5EAF0;

    --container-max-width: 1180px;

}